@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 3px 10px;
  border: solid 1px #cccccc15;
  border-radius: 3px;
  cursor: pointer;
  color: var(--vt-c-indigo);
}

@media (prefers-color-scheme: dark) {
  .btn {
    color: #ccc;
  }
}

.btn.back {
  border-color: transparent;
  text-decoration: underline;
}

.btn.save {
  background-color: #666;
  color: #ccc;
  padding: 5px 20px;
}

.btn:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

.card {
  width: 700px;
  margin: 0 auto 2em auto;
}

.card input {
  padding: 8px;
}

.card textarea {
  padding: 8px;
}


.card h2 {
  margin-bottom: 2em;
}

.card > .row {
  display: flex;
  padding: 0.5em 0 1.5em 0;
  
}

.card > .row > .fld {
  flex-basis: 30%;
  border-bottom: dotted 1px #ccc;
}
.card > .row > .val {
  flex-basis: 70%;
}
.card > .row > .val > * {
  width: 100%;
}

.card .submit {
  margin-top: 2em;
  text-align: right;
}

.card .descr {
  height: 2.7em;
}

.card > .row > .val > .price {
  width: 10ch;
  text-align: right;
}

.card .image img {
  max-width: 300px;
}

.card .upload {
  display: flex;
}

